/*ejercicio1a.css   dm14015*/

fichero {background-color:grey;}
nombre {color:darkolivegreen; display:flex;} apellido{color:yellow; display:flex;}
direccion {color:blue;font-size:0.5cm; display:contents;}
datos{color:aqua; display:contents;}
