/*ejercicio1b.css   dm14015*/

fichero {background-color:green;}
informacion {color:white; font-size:1cm ; display:contents;} 
datos {color:darkgoldenrod; font-size:0.7cm; ; display:block;}
seguro {color:indigo;font-size:0.7cm; display:flex;}

